version: '3'
services:

  database:
    image: postgis/postgis:13-3.4-alpine
    volumes:
      - synth_database:/var/lib/postgresql/data
  
  cache:
    image: redis:6-alpine

  directus:
    image: directus/directus:10.7.0
    volumes:
      - /directus/uploads
      - /directus/extensions
    depends_on:
      - cache
      - database



