version: '3'
services:

  database:
    image: postgis/postgis:13-3.4-alpine
    volumes:
      - _database:/var/lib/postgresql/data
  
  cache:
    image: redis:6-alpine

  directus:
    image: directus/directus:10.7.2
    volumes:
      - _uploads:/directus/uploads
      - _extensions:/directus/extensions
    depends_on:
      - cache
      - database



